#header {
    margin-right: auto;
    margin-left: auto;
    font-size: x-large;
    background-color: darkseagreen;
    width: 395px;
    padding: 10px;
    border: 5px solid darkolivegreen;
}

body {
    background-color: beige;
}

#container {
    float: right;
    margin-right: 250px;
    margin-top: 50px;
    background-color: darkseagreen;
    border: 5px solid darkolivegreen;
    padding: 10px;
}

.pizza1 {
    float: left;
}

.HomeLink {
    font-size: large;
    font-weight: bold;
    position: relative; top: 650px; left: 90px;
}